name: CI
on:

  workflow_dispatch:
  pull_request:
  push:
    branches:
     - main

  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  unix:
    
    runs-on: ${{ matrix.os }}
     
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: environment-dev.yml
          environment-name: xeus-r

      - name: install cxx compiler
        shell: bash -l {0}
        run: |
          $HOME/micromamba-bin/micromamba install cxx-compiler -c conda-forge -y

      - name: micromamba list
        shell: bash -l {0}
        run: |
          $HOME/micromamba-bin/micromamba list

      - name: cmake configure
        shell: bash -l {0}
        run: |
          mkdir -p bld
          cd bld
          cmake .. \
           -DCMAKE_PREFIX_PATH=$CONDA_PREFIX \
           -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX 

      - name: build
        shell: bash -l {0}
        run: |
          cd bld
          make -j8

      - name: install
        shell: bash -l {0}
        run: |
          cd bld
          make install

      - name: test
        shell: bash -l {0}
        run: |
          cd test
          pytest .  --reruns 5

#  win:
#    
#    runs-on: ${{ matrix.os }}
#     
#    strategy:
#      fail-fast: false
#      matrix:
#        os: [ windows-latest]
#
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: install mamba
#        uses: mamba-org/provision-with-micromamba@main
#        with:
#          environment-file: environment-dev.yml
#          environment-name: xeus-r
#
#      - name: micromamba shell hook
#        shell: powershell
#        run: |
#          micromamba shell hook -s cmd.exe -p C:\Users\runneradmin\micromamba-root
#
#      - name: cmake configure
#        shell: cmd
#        run: |
#          call C:\Users\runneradmin\micromamba-root\condabin\micromamba.bat activate xeus-r
#          mkdir -p bld
#          cd bld
#          cmake .. -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=Release -DXEUS_BUILD_TESTS=ON -DDEPENDENCY_SEARCH_PREFIX="%CONDA_PREFIX%\Library" -DCMAKE_PREFIX_PATH="%CONDA_PREFIX%\Library" -DCMAKE_INSTALL_PREFIX="%CONDA_PREFIX%" 
#
#      - name: build
#        shell: cmd
#        run: |
#          call C:\Users\runneradmin\micromamba-root\condabin\micromamba.bat activate xeus-r
#          cd bld
#          set CL=/MP
#          nmake install
#
#      - name: test
#        shell: cmd
#        run: |
#          call C:\Users\runneradmin\micromamba-root\condabin\micromamba.bat activate xeus-r
#          cd test
#          pytest .  --reruns 5

  
